.playbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: var(--bg-sidebar);
    border-top: 1px solid var(--border-color);
    bottom: 0;
    padding: 0 25px;
    box-sizing: border-box;
}

.playbar-left, 
.playbar-middle, 
.playbar-right {
    display: flex;
    align-items: center;
}

.playbar-middle {
    justify-self: center;
}

.playbar-right {
    justify-content: flex-end;
    padding-right: 25px;
}

.playbar-left-song {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.playbar-left-song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    max-width: 250px;
}

.playbar-left-song-info a {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playbar-left-song-info-name {
    font-size: 15px;
}

.playbar-left-song-info-author {
    font-size: 12px;
    color: var(--text-secondary);
}

.song-img {
    width: 50px;
    height: 50px;
}