services:
  frontend:
    build:
      context: .
      dockerfile: dev.Dockerfile
    container_name: jimce-webclient-dev
    restart: unless-stopped
    ports:
      - "5173:3000"
    networks:
      - app

networks:
  app:
    driver: bridge