version: "3.9"

services:
  frontend:
    build: .
    container_name: jimce-webclient
    restart: unless-stopped
    ports:
      - "5173:3000"
    networks:
      - app

networks:
  app:
    driver: bridge
