.settings-modal-backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: var(--transition-base);
}

.settings-modal {
    background: var(--bg-main);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-lg);
    max-width: 800px;
    max-height: 650px;
    width: 100%;
    height: 100%;
    margin: 50px;
    display: flex;
    flex-direction: row;

    transform: scale(1);
}

.settings-modal-backdrop.active {
    opacity: 1;
    visibility: visible;
}

.settings-modal.active {
    animation: scaleBounce 300ms  ease forwards;
}

@keyframes scaleBounce {
    0% { transform: scale(0.5); }
    70% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.settings-sidebar {
    background: var(--bg-sidebar);
    padding: 20px;
    border-right: 1px solid var(--border-color);
    border-top-left-radius: var(--radius-lg);
    border-bottom-left-radius: var(--radius-lg);
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 120px;
}

.settings-sidebar-option {
    padding: 8px 12px;
    border-radius: var(--radius-md);
    color: var(--text-primary);
    cursor: pointer;
    transition: var(--transition-base);
}

.settings-sidebar-option:hover {
    background-color: var(--bg-hover);
}

.settings-sidebar-option.active {
    background-color: var(--bg-surface);
}

.settings-sidebar-title {
    margin-top: 15px;
    margin-bottom: 5px;
    margin-left: 8px;
    padding-top: 25px;
    border-top: 1px solid var(--border-color);
    font-size: 14px;
    font-weight: bold;
    color: var(--text-secondary);
}

.settings-sidebar-about {
    margin-top: 12px;
    margin-left: 8px;
    padding-top: 15px;
    border-top: 1px solid var(--border-color);
    color: var(--text-primary);
}

.settings-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}