.crossfade-settings-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.crossfade-input-description {
    font-size: 15px;
}

.crossfade-input{
    width: 60%;
}

.crossfade-duration{
    font-size: 15px;
}